<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <!-- header -->
        <%- include('../partials/header') %>


        <!-- main -->
        <main>
            <div class="container">
                <h1>This is home page</h1>
            </div>
        </main>


        <!-- footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>